.slots--slot.is-empty-slot {
  border: 1px dashed var(--gin-color-primary-active, #fb7fe0);
  background: var(--gin-bg-item-hover, #fee6f9);
  display: flex;
  padding: var(--gin-spacing-xs, 0.5rem) var(--gin-spacing-m, 1rem);
  justify-content: center;
  align-items: center;
}

.slots--slot__identifier {
  color: var(--gin-color-primary, #f94dd4);
  font-size: var(--gin-font-size-s, 0.75rem);
  display: flex;
  align-items: center;
  column-gap: var(--gin-spacing-xs, 0.5rem);
}

.slots--slot__identifier pre {
  border: 1px solid var(--gin-color-primary-active, #fb7fe0);
  font-weight: 600;
  padding: 2px 5px;
}
